packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    make: []

commands:
  01_upgrade_pip:
    command: "/var/app/venv/*/bin/pip install --upgrade pip"
    ignoreErrors: true
  02_install_requirements:
    command: "/var/app/venv/*/bin/pip install -r requirements.txt"
    cwd: "/var/app/current"
    ignoreErrors: false 